h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BDAA96;
    font-size: 120px;
    margin-left: 50px;
    margin-top: 200px;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BDAA96;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 100px;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #54627B;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
}

h4.home {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#BDAA96;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    border-style: none none dotted none;
    margin-left: 40%;
    margin-right: 40%;
    border-width: 10px;
    border-color:#e6e3df;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #54627B;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 1.7em;
}

.navbar{
    width: 100%;
    height: 50px;
    margin: 0;
    position: sticky;
    top: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar a {
    width: 22.5%;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    color: #54627B;
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none; }

.navbar a:hover {
    color:#BDAA96;
    border-style: none none solid none;
    border-color:#BDAA96;
    border-width: 3px;
    transition-duration: 0.12s;
    transition-timing-function: linear;
}

.navbar a.selected{
    color:#BDAA96;
    border-style: none none solid none;
    border-color:#BDAA96;
    border-width: 3px;
}