h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BDAA96;
    font-size: 120px;
    margin-left: 50px;
    margin-top: 200px;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BDAA96;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 100px;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #54627B;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
}

h4.home {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#BDAA96;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    border-style: none none dotted none;
    margin-left: 40%;
    margin-right: 40%;
    border-width: 10px;
    border-color:#e6e3df;
}

h4#footer{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#54627B;
    font-size: 30px;
    text-align: center;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #54627B;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 1.7em;
}

p#footer{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #54627B;
    font-size: 16px;
    text-align: center;
}

.navbar{
    width: 100%;
    height: 50px;
    margin: 0;
    position: sticky;
    top: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:#ffffff;
    padding-bottom:25px;
}

.navbar a {
    width: 22.5%;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    color: #54627B;
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none; }

.navbar a:hover {
    color:#BDAA96;
    border-style: none none solid none;
    border-color:#BDAA96;
    border-width: 3px;
    transition-duration: 0.12s;
    transition-timing-function: linear;
}

.navbar a.selected{
    color:#BDAA96;
    border-style: none none solid none;
    border-color:#BDAA96;
    border-width: 3px;
}

footer hr{
    color:#BDAA96;
    opacity: 60%;
    width: 70%;
}

a#footer{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#54627B;
    font-size: 20px;
    text-decoration: underline;
    margin-left:30%;
}

a#footer:hover{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#BDAA96;
    font-size: 20px;
    text-decoration: underline;
    width:49%;
    transition-duration: 0.12s;
    transition-timing-function: linear;
}

form {
	width: 75%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color:#BDAA96;
	padding: 10px;	
}

legend {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	color:#54627B;
	margin-bottom: 5px;
}

label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
}